---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Prices from '../components/Prices.astro';
import About from '../components/About.astro';
import Location from '../components/Location.astro';
import SocialBestOf from '../components/SocialBestOf.astro';
import Footer from '../components/Footer.astro';
import StickyMobileNav from '../components/StickyMobileNav.astro';
import { frontmatter as s } from '../content/settings.md';
---
<BaseLayout title={`${s.name} | ${s.tagline} in Bülach`}><Header/><main><Hero/><Prices/><Location/><About/><SocialBestOf/></main><Footer/><StickyMobileNav/></BaseLayout>
