---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Prices from '../components/Prices.astro';
import Feature from '../components/Feature.astro';
import About from '../components/About.astro';
import Location from '../components/Location.astro';
import Instagram from '../components/Instagram.astro';
import TikTok from '../components/TikTok.astro';
import Footer from '../components/Footer.astro';
import StickyMobileNav from '../components/StickyMobileNav.astro';
---
<BaseLayout title="Marena Cutz | Modern Barber in Bülach"><Header/><main><Hero/><Prices/><Feature/><Location/><About/><Instagram/><TikTok/></main><Footer/><StickyMobileNav/></BaseLayout>
