---
interface Props {
  class?: string;
  alt: string;
}

const { class: className = 'site-logo', alt } = Astro.props;
---

<svg
  class:list={['brand-logo', className]}
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 2983 700"
  role="img"
  aria-label={alt}
>
  <title>{alt}</title>
  <text x="0" y="430" class="brand-logo__name">MARENA CUTZ</text>
  <text x="0" y="585" class="brand-logo__tagline">MODERN BARBER</text>
</svg>